.DS_Store
.settings
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/launch.json
yarn.lock
yarn-error.log
node_modules
dist
/ui/build
.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/package-lock.json
docker-compose.override.yml
docker-compose.*.override.yml
/test/test-results
