@tailwind base;
@tailwind components;
@tailwind utilities;


.repel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: var(--repel-vertical-alignment, center);
    gap: var(--gutter, 2em);
}
